=error_messages_for @category
  
%form{:method => "POST", :action => "/categories/#{@category.id}"}
  %input{:type=>"hidden", :name=>"_method", :value=>"put"}

  %fieldset
    %legend Edit Category
    =haml :_category_form

    %input{:type=>"submit", :value => "Save Category"}