<h2>Environment</h2>
<ul>
  <% @qed_env.each do |e| %>
    <li><%=e.to_s %></li>
  <% end %>
</ul>
<h2>Java environment</h2>
<ul>
  <% @qed_java_env.each do |e| %>
    <li><%=e.to_s %></li>
  <% end %>
</ul>