!!!
%html
  %head
    %title QEDServer
    %link{:rel=>"stylesheet", :href=>"/style.css"}
  %body
    #wrap
      %header
        %h1 QEDServer
      %nav
        %ul
          %li
            %a{:href => "/"} Home
          %li
            %a{:href => "/products" } Products
          %li
            %a{:href => "/categories" } Categories
          %li
            %a{:href => "/help" } Help
          %li
            %a{:href => "/index.html"} Public index
            
      %section#main
        -if flash[:notice]
          #notice= flash[:notice]
        -if @message
          #message= @message
      
        =yield
    
      %footer
        %h5 
          QEDServer v
          =QED_SERVER_VERSION
          Copyright &copy; 2011 Brian P. Hogan
        %h5 
          %a{:href=>"http://qedserver.napcs.com/"} QEDServer Home Page
          |
          %a{:href=>"http://github.com/napcs/qedserver/"} QEDServer Source
          
          