!!!
%html
  %head
    %title QEDServer
    %link{:rel=>"stylesheet", :href=>"/style.css"}
  %body
    #wrap
      %header
        %h1 QEDServer
    
      #main
        =yield
    
      %footer
        %h5 Copyright &copy; 2011 Brian P. Hogan