%h2 Products

=error_messages_for @product
  
%form{:method => "POST", :action => "/products"}
  %fieldset
    %legend New Product
    =haml :_product_form
    
    %input{:type=>"submit", :value => "Add Product"}
%hr

%h3 Products list
%p 
  View as 
  %a{:href=> "/products.json"} JSON
  or
  %a{:href=> "/products.xml"} XML
  
%table
  -@products.each do |product|
    %tr{:id => "product_#{product.id}"}
      %td=product.name
      %td 
        %a{:href=>"/products/#{product.id}"} Details
      %td
        %form.delete{:method=>"POST", :action => "/products/#{product.id}"}
          %input{:type=>"hidden", :name=>"_method", :value=>"delete"}
          %input{:type=>"submit", :value=>"Delete"}
  
=pagination_links(@products_count, @per_page, "/products")
